<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="static/semantic.min.css">
    <head>
        <meta charset="UTF-8">
        <style type="text/css">
            body {
              background-color: #DADADA;
            }
            body > .grid {
              height: 100%;
            }
            .image {
              margin-top: -100px;
            }
            .column {
              max-width: 350px;
            }
        </style>
        <title>Chinese Poem Generator</title>
    </head>
    <body>
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <!-- <img src="assets/images/logo.png" class="image"> -->
                    <div class="content">
                        中文诗歌生成
                    </div>
                </h2>
                <form class="ui large form" method="post" action="/results">
                    {% csrf_token %}
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <!-- <i class="user icon"></i> -->
                                <input type="text" name="first_word" placeholder="输入首字">
                            </div>
                        </div>
                        <button class="ui fluid large teal submit button" type="submit">
                            生成
                        </button>
                    </div>
                    
                    <div class="ui error message"></div>
                </form>
                <div class="ui left aligned message">
                    <ul class="list">
                        <li>输入首字，生成诗歌</li>
                        <li>随机生成诗歌</li>
                        <li>输入四字短语，生成藏头诗</li>
                    </ul>
                </div>
                <div>
                    <!-- <i class="github icon"></i> -->
                    <a href="https://github.com/Sleepychord/ChinesePoemGeneration" target="_blank">
                        Github
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>